<footer>
  <div class="row center-xs margin-top hidden-sm hidden-md hidden-lg">
    <hr class="col-xs-12 margin-bottom">
    <div class="col-md-5 col-xs-5 margin-left">
      <a href="https://itunes.apple.com/us/app/food-troopers/id1057294490?ls=1&mt=8" target="_blank">
        <img alt="Disponível na App Store" src="/assets/images/apple-store.png" class="img-responsive" style="height:40px;">
      </a>
    </div>
    <div class="col-md-4 col-xs-5 margin-left">
      <a href="https://play.google.com/store/apps/details?id=br.com.foodtroopers.appfoodtroopers" target="_blank">
        <img alt="Disponível no Google Play" src="/assets/images/google-play.png" class="img-responsive" style="height:40px;">
      </a>
    </div>
    <div class="col-xs-12 margin-top">
      <p class="ft-subtitle">Baixe o aplicativo e comece a utilizar.</p>
    </div>
  </div>
  <div class="container">
    <div class="row around-xs">
      <div class="col-md-12 margin-top">
        <ul class="list-inline ft-bottom-nav">
          <li>
            <a class="page-link" href="{{"/" | prepend: site.baseurl}}">Página Inicial</a>
          </li>
          <li>
            <a class="page-link" href="{{"/about" | prepend: site.baseurl }}">Sobre</a>
          </li>
          <!-- <li>
            <a class="page-link" href="/contact">Fale Conosco</a>
          </li> -->
          <li>
            <a class="page-link" href="{{"/collaborators" | prepend: site.baseurl }}">The Troopers</a>
          </li>
        </ul>
      </div>
      <div class="col-xs-12 margin-top">
        <hr>
      </div>
      <div class="col-md-6 margin-top" style="padding:0px 1.5rem;">
        <ul class="list-inline">
          <li>
            <a href="{{site.facebook_url}}" class="social-link middle-xs">
              <i class="icon-facebook"  alt="Facebook"></i> Facebook
            </a>
          </li>
          <li>
            <a href="{{site.instagram_url}}" class="social-link middle-xs">
              <i class="icon-instagram" alt="Instagram"></i> Instagram
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-6 margin-top" style="padding:0px 1.5rem;">
        <div class="ft-subtitle"><i class="glyphicon glyphicon-envelope"></i> {{site.email}}</div >
        <ul class="list-inline">
          <li>
            <a class="ft-subtitle" href="{{"/privacy" | prepend: site.baseurl }}">Política de Privacidade</a>
          </li>
          <li>
            <a class="ft-subtitle" href="{{"/useterm" | prepend: site.baseurl }}">Termo de Uso</a>
          </li>
        </ul>
        <p class="ft-subtitle">&copy; Todos Direitos Reservados 2016</p>
      </div>
    </div>
  </div>
</footer>
